<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="cucumber testNG">
    <parameter name="browser" value="chrome"/>
    <test name="google search testing">

        <classes>
            <class name="tests.runner.googleSearchRunner">
            </class>
        </classes>
    </test>
</suite>